body{
    width: 800px;
    margin: auto;
    background-color: rgb(3, 3, 40);
    border-left: 2px solid rgb(88, 88, 88);
    border-right: 2px solid rgb(88, 88, 88);
}

#userB{
    display: flex;
    justify-content: end;
    flex-direction: row;
    width: 800px;
    height:100px;
    margin: auto;   
    background-color: rgb(3, 3, 40);
}

#icon{
    height: 75px;
    width: 75px;
    border: 2px solid rgb(88, 88, 88);
    border-radius:10px;
}

#infoB{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#iconB{
    flex-direction: column;
    justify-content: center;
}

#champB{
    
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 800px;
    height: 340px;
    background-color: rgb(3, 3, 40);
    border-bottom: 2px solid rgb(88, 88, 88);
}

p,span,h2{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    color: rgb(190, 190, 190);
}

h2{
    padding-top: 2vh;
    padding-bottom: 2vh;
}

img{
    display:block;
    width:100%;
}

.center{text-align: center;}
.red{color:red;}
.big{font-size: 30px;}

.mastery{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 152px;

}

.va{
    display: flex;
    margin: 0 20px;
}

#nameB,#lvlB{
    padding: 5px;
    border: 2px solid rgb(88, 88, 88);
    border-radius:10px;
}

.border{
    border: 2px solid rgb(88, 88, 88);
    border-radius:20px;
}

.c{
    position:relative;
    top:125px;
    z-index: 2;
}

.p{
    position:relative;
    top:-115px;
    transform: scale(80%,80%);
    border-radius: 250px;
    z-index: 1; 
}


/* 1vw = 19,19875 1vh = 9,73*/