body{
    width: 50vw;
    margin: auto;
    background-color: rgb(3, 3, 40);
    border-left: 2px solid rgb(88, 88, 88);
    border-right: 2px solid rgb(88, 88, 88);
}

#userB{
    display: flex;
    justify-content: end;
    flex-direction: row;
    width: 50vw;
    height:10vh;
    margin: auto;
    background-color: rgb(3, 3, 40);
}

#icon{
    height: 8vh;
    width: 8vh;
    border: 2px solid rgb(88, 88, 88);
    border-radius:10px;
}

#infoB{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#iconB{
    flex-direction: column;
    justify-content: center;
}

#champB{
    border-top: 2px solid rgb(88, 88, 88);
    border-bottom: 2px solid rgb(88, 88, 88);
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 50vw;
    height: 20vh;

    background-color: rgb(3, 3, 40);
}

p,span{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    color: rgb(190, 190, 190);
}

img{
    display:block;
    width:100%;
}

.center{text-align: center;}

.mastery{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 20vh;
}

.va{
    display: flex;
    margin: 0 20px;
}

#nameB,#lvlB{
    padding: 5px;
    border: 2px solid rgb(88, 88, 88);
    border-radius:10px;
}

.border{
    border: 2px solid rgb(88, 88, 88);
    border-radius:20px;
}